@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.col-banner {
    margin-top: -2% !important;
}

.row-card-banner {
    background: none !important;
    padding-bottom: 2%;
}

.container-card-banner-info {
    padding-left: 8% !important;
    padding-right: 8% !important;
}

.card-banner {
    padding: 3%;
    border: none !important;
    border-radius: .5rem !important;
    margin: 1% !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.icon-card-header {
    position: absolute;
    bottom: 85%;
    border-radius: 100%;
    padding: 2% 3% 3% 3%;
    left: 45%;
}

@media screen and (max-width: 650px) {
    .col-banner {
        margin-top: 0%;
    }

    .container-card-banner-info {
        background-color: none !important;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .row-card-banner {
        padding-bottom: 2rem !important;
        padding: 0% !important;
    }

    .card-banner {
        border-radius: 0 !important;
        background: none !important;
        margin: 5% !important;
        border: none !important;
        padding: 5% !important;
        /* box-shadow: none !important; */
    }
}