#my-nav{
    background-color: none;
}

.offcanvas-link-nav {
    margin-left: 2%;
    margin-right: 2%;
}



@media screen and (max-width: 650px) {
    #my-nav{
        background-color: #2c3346 !important;
    }
    #offcanvas-nav-body {
        background-color: #2c3346 !important;
    }
    #offcanvas-nav-header {
        background-color: #2c3346 !important;
    }
    #offcanvas-nav-header .btn-close {
        color: white !important;
    }
    .offcanvas-link-nav {
        margin-left: 0%;
        margin-right: 0%;
        color: #f8f9fa !important;
        font-size: larger !important;
    }
    .offcanvas-link-nav:hover {
        color: #f8f9fadc !important;
    }
}